@import '../../../scss/settings/theme-variables';

.modal-backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  display: block;
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  height: auto;
  min-width: 400px;
  max-width: 90%;
}

.modal-header {
  display: flex;
  padding: 8px;
  background-color: $primary-color;
  color: $light-color;
  margin-bottom: 0px;
  p {
    margin-bottom: 0px;
    padding: 5px;
    line-height: normal;
  }
}

.close-button {
  background-color: $danger-color;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

.modal-body {
  padding: 16px;
}