<app-card cardTitle="Devices" [options]="false" blockClass="table-border-style">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>MacAddress</th>
          <th>Created</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let device of deviceData">
          <td>{{ device.name }}</td>
          <td>{{ device.macAddress }}</td>
          <td>{{ device.created }}</td>
          <td><i (click)="generateNewApiKey(device.id!)" ngbTooltip="Generate new API Key" class="delete-device-btn feather icon-lock"></i></td>
          <td><i (click)="getLatestOrderedMeasuresForDevice(device.id!)" ngbTooltip="Latest measures" class="delete-device-btn feather icon-activity"></i></td>
          <td><i (click)="deleteDevice(device.id!)" ngbTooltip="Delete" class="delete-device-btn feather icon-trash-2"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</app-card>
