services:
  api:
    image: tgclzdevacr.azurecr.io/tgc-ha-api:latest
    ports:
      - "9000:8080"
    env_file: /home/identity/identity.env
    environment:
      - TGC.AzureTableStorage__StorageAccountUrl=https://tgcsthadev.table.core.windows.net/
      - TGC.AzureTableStorage__UseManagedIdentity=true
      - AllowedHosts=*
      - HomeAutomation__Testing__Enabled=false

  app:
    image: tgclzdevacr.azurecr.io/tgc-ha-app:latest
    ports:
      - "9001:80"
    environment:
     - ENVIRONMENT_TYPE=prd
     - API_URL=http://api.homeautomation.dev.tgcportal.com