services:
  api:
    image: tgclzdevacr.azurecr.io/tgc-ha-api:latest
    ports:
      - "9000:8080"
    environment:
      - TGC.AzureTableStorage:StorageAccountUrl=https://tgcsthadev.table.core.windows.net/
      - TGC.AzureTableStorage:UseManagedIdentity=true
      - AllowedHosts=*
    secrets:
      - environment_secrets
  
  app:
    image: tgclzdevacr.azurecr.io/tgc-ha-app:latest
    ports:
      - "80:80"
    environment:
     - ENVIRONMENT_TYPE=prd
     - API_URL=http://localhost:9000
  
secrets:
  environment_secrets:
    file: ./identity/identity_file.txt