<app-card cardTitle="Temp. & Hum. (Outside & Inside)" [options]="false">
  <div class="row">
    <div class="col-md-3">
      <p>Start date:</p>
      <app-date-time [(selectedDate)]="startDate" (onChange)="onDateChange($event)" />
    </div>
    <div class="col-md-3">
      <p>End date:</p>
      <app-date-time [(selectedDate)]="endDate" (onChange)="onDateChange($event)" />
    </div>
  </div>
  <apx-chart
    [dataLabels]="summaryChart.dataLabels!"
    [chart]="summaryChart.chart!"
    [stroke]="summaryChart.stroke!"
    [colors]="summaryChart.colors!"
    [series]="summaryChart.series!"
    [tooltip]="summaryChart.tooltip!"
    [xaxis]="summaryChart.xaxis!"
    [yaxis]="summaryChart.yaxis!"
  ></apx-chart>
</app-card>