<div class="row">
  <!-- order-card start -->
  <div class="col-md-3 ">
    <app-card [hidHeader]="true" cardClass="bg-c-white order-card">
      <h6>Outdoor Temperature</h6>
      <h2 class="text-end">
        <i class="feather icon-shopping-cart float-start"></i>
        <span>{{ outdoorTemperature }}</span>
      </h2>
      <p class="m-b-0">
        Some very good text
        <span class="float-end">355</span>
      </p>
    </app-card>
  </div>
  <div class="col-md-3 ">
    <app-card [hidHeader]="true" cardClass="bg-c-white order-card">
      <h6>Indoor Temperature</h6>
      <h2 class="text-end">
        <i class="feather icon-shopping-cart float-start"></i>
        <span>{{ indoorTemperature }}</span>
      </h2>
      <p class="m-b-0">
        Some very good text
        <span class="float-end">355</span>
      </p>
    </app-card>
  </div>
  <div class="col-md-3 ">
    <app-card [hidHeader]="true" cardClass="bg-c-white order-card">
      <h6>Outdoor Humidity</h6>
      <h2 class="text-end">
        <i class="feather icon-shopping-cart float-start"></i>
        <span>{{ outdoorHumidity }}</span>
      </h2>
      <p class="m-b-0">
        Some very good text
        <span class="float-end">355</span>
      </p>
    </app-card>
  </div>
  <div class="col-md-3 ">
    <app-card [hidHeader]="true" cardClass="bg-c-white order-card">
      <h6>Indoor Humidity.</h6>
      <h2 class="text-end">
        <i class="feather icon-shopping-cart float-start"></i>
        <span>{{ indoorHumidity }}</span>
      </h2>
      <p class="m-b-0">
        Some very good text
        <span class="float-end">355</span>
      </p>
    </app-card>
  </div>

  <!-- account-section start -->
  <div class="col-md-12">
    <app-temperature-summary/>
  </div>

  <div class="col-md-12">
    <app-single-device-chart/>
  </div>

  <div class="col-md-6">
    <app-card cardTitle="Inside Temperature overview">
      <div class="toolbar btn-group">
        <button id="one_month" class="btn btn-sm btn-outline-primary">1M</button>
        <button id="six_months" class="btn btn-sm btn-outline-primary">6M</button>
        <button id="one_year" class="btn btn-sm btn-outline-primary active">1Y</button>
        <button id="ytd" class="btn btn-sm btn-outline-primary">YTD</button>
        <button id="all" class="btn btn-sm btn-outline-primary">ALL</button>
      </div>
      <apx-chart
        [series]="chartOptions_11.series!"
        [chart]="chartOptions_11.chart!"
        [dataLabels]="chartOptions_11.dataLabels!"
        [colors]="['lightgreen', 'green']"
        [stroke]="chartOptions_11.stroke!"
        [xaxis]="chartOptions_11.xaxis!"
        [tooltip]="chartOptions_11.tooltip!"
        [annotations]="chartOptions_11.annotations!"
        [markers]="chartOptions_11.markers!"
        [labels]="chartOptions_11.labels!"
      ></apx-chart>
    </app-card>
  </div>
  <div class="col-md-6">
    <app-card cardTitle="Inside overview">
      <div class="toolbar btn-group">
        <button id="one_month" class="btn btn-sm btn-outline-primary">1M</button>
        <button id="six_months" class="btn btn-sm btn-outline-primary">6M</button>
        <button id="one_year" class="btn btn-sm btn-outline-primary active">1Y</button>
        <button id="ytd" class="btn btn-sm btn-outline-primary">YTD</button>
        <button id="all" class="btn btn-sm btn-outline-primary">ALL</button>
      </div>
      <apx-chart
        [series]="chartOptions_11.series!"
        [chart]="chartOptions_11.chart!"
        [dataLabels]="chartOptions_11.dataLabels!"
        [colors]="chartOptions_11.colors!"
        [stroke]="chartOptions_11.stroke!"
        [xaxis]="chartOptions_11.xaxis!"
        [tooltip]="chartOptions_11.tooltip!"
        [annotations]="chartOptions_11.annotations!"
        [markers]="chartOptions_11.markers!"
        [labels]="chartOptions_11.labels!"
      ></apx-chart>
    </app-card>
  </div>
  <div class="col-xl-12">
    <app-device-table/>
  </div>
  <div class="col-xl-6 col-md-12">
    <div class="row">
      <div class="col-md-6">
        <app-card [hidHeader]="true">
          <div class="row">
            <div class="col-auto">
              <span>Customers</span>
            </div>
            <div class="col text-end">
              <h2 class="mb-0">826</h2>
              <span class="text-c-green">
                8.2%
                <i class="feather icon-trending-up ms-1"></i>
              </span>
            </div>
          </div>
          <apx-chart
            [series]="chartOptions_1.series!"
            [chart]="chartOptions_1.chart!"
            [stroke]="chartOptions_1.stroke!"
            [dataLabels]="chartOptions_1.dataLabels!"
            [labels]="chartOptions_1.labels!"
            [legend]="chartOptions_1.legend!"
            [colors]="chartOptions_1.colors!"
            [fill]="chartOptions_1.fill!"
            [grid]="chartOptions_1.grid!"
            [plotOptions]="chartOptions_1.plotOptions!"
            [tooltip]="chartOptions_1.tooltip!"
          ></apx-chart>
          <div class="row mt-3 text-center">
            <div class="col">
              <h3 class="m-0">
                <i class="fas fa-circle f-10 m-r-5 text-success"></i>
                674
              </h3>
              <span class="ms-3">New</span>
            </div>
            <div class="col">
              <h3 class="m-0">
                <i class="fas fa-circle text-primary f-10 m-r-5"></i>
                182
              </h3>
              <span class="ms-3">Return</span>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-md-6">
        <app-card [hidHeader]="true" cardClass="bg-primary text-white">
          <div class="row">
            <div class="col-auto">
              <span>Customers</span>
            </div>
            <div class="col text-end">
              <h2 class="mb-0 text-white">826</h2>
              <span class="text-white">
                8.2%
                <i class="feather icon-trending-up ms-1"></i>
              </span>
            </div>
          </div>
          <div id="customerChart">
            <apx-chart
              [series]="chartOptions_2.series!"
              [chart]="chartOptions_2.chart!"
              [stroke]="chartOptions_2.stroke!"
              [dataLabels]="chartOptions_2.dataLabels!"
              [labels]="chartOptions_2.labels!"
              [legend]="chartOptions_2.legend!"
              [colors]="chartOptions_2.colors!"
              [fill]="chartOptions_2.fill!"
              [grid]="chartOptions_2.grid!"
              [plotOptions]="chartOptions_2.plotOptions!"
              [tooltip]="chartOptions_2.tooltip!"
            ></apx-chart>
          </div>
          <div class="row mt-3 text-center">
            <div class="col">
              <h3 class="m-0 text-white">
                <i class="fas fa-circle f-10 m-r-5 text-white"></i>
                674
              </h3>
              <span class="ms-3">New</span>
            </div>
            <div class="col">
              <h3 class="m-0 text-white">
                <i class="fas fa-circle text-white f-10 m-r-5"></i>
                182
              </h3>
              <span class="ms-3">Return</span>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-4">
    <app-card
      [hidHeader]="true"
      cardClass="seo-card"
      blockClass="seo-statustic"
      footerClass="seo-chart border border-top-0 p-0 overflow-hidden"
      [isCardFooter]="true"
    >
      <i class="feather icon-save f-20 text-c-red"></i>
      <h5 class="mb-1">65%</h5>
      <p>Memory</p>
      <div class="app-card-footer">
        <apx-chart
          [series]="chartOptions_3.series!"
          [chart]="chartOptions_3.chart!"
          [stroke]="chartOptions_3.stroke!"
          [dataLabels]="chartOptions_3.dataLabels!"
          [colors]="chartOptions_3.colors!"
          [fill]="chartOptions_3.fill!"
          [tooltip]="chartOptions_3.tooltip!"
          [yaxis]="chartOptions_3.yaxis!"
        ></apx-chart>
      </div>
    </app-card>
  </div>
  <!-- conversion-section start -->
  <div class="col-lg-4 col-md-12">
    <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <h6>Conversions</h6>
      <h4 class="m-0">
        0.85%
        <span class="text-c-blue ms-2">
          <i class="feather icon-arrow-up"></i>
          0.50%
        </span>
      </h4>
      <span>Purchased</span>
      <div class="app-card-footer"></div>
    </app-card>
    <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <h6>Conversions</h6>
      <h4 class="m-0">
        0.85%
        <span class="text-c-red ms-2">
          <i class="feather icon-arrow-up"></i>
          0.50%
        </span>
      </h4>
      <span>Purchased</span>
      <div class="app-card-footer"></div>
    </app-card>
    <app-card [hidHeader]="true" footerClass="border border-top-0 p-0 overflow-hidden" [isCardFooter]="true">
      <h6>Conversions</h6>
      <h4 class="m-0">
        0.85%
        <span class="text-c-green ms-2">
          <i class="feather icon-arrow-up"></i>
          0.50%
        </span>
      </h4>
      <span>Purchased</span>
      <div class="app-card-footer"></div>
    </app-card>
  </div>
  <!-- conversion-section end -->

</div>
